
// $color-text: #ff6c37;
$color-text: #F05454; //#fe532c;
$color-text-alpha: #F05454cc;
$color-text-rgb: 254 83 44;
$color-background: #022b3a;
$color-bg: #edebea;
$color-bg-alpha: #edebea99;
$color-white-alpha: #ffffff66;
$color-body-bg: #f4f5f7;
// $color-bg: #ffffff;
$header-boxshadow: 10px 10px 13px -7px rgba(0, 0, 0, 0.1);
$card-shadow: 5px 5px 9px #00000022;
$ambose-shadow: 3px 3px 6px #78787899, -5px -5px 6px #ffffff;
$bd-filter-blur: blur(14px);

$task-priority-lowest: #96DED1; 
$task-priority-low: #87CEEB;
$task-priority-medium:  #4682B4;
$task-priority-high: #FF5733;
$task-priority-highest: #C70039;

$task-status-todo: #C5C5C5;
$task-status-normal: #0047AB;
$task-status-done: #8FBC8F;

$task-asignee: #fe532c;